body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vh;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: auto;
}

.App {
  /* display: flex; */
  width: 500px;
  box-shadow: 0px 0px 10px 1px #ccc;
}

.App form {
  border-radius: 5px;
  height: 300px;
  margin: auto;
}
.App input {
  width: 150px;
}
.bookmark {
  padding-top: 20px;
  max-height: 30px;
}
.bookmark input {
  width: 150px;
}